* {
  margin: 0;
  padding: 0;
}
.menu-icon {
	position: absolute;
  	top: 2%;
  	left: 0.7%;
  	transform: translate(-50%, -50%);
    height : 31px;
    width: 31px;
    margin: 15px;
  	transition: 0.1s linear;
}

.open-menu-icon {
	position: absolute;
  	top: 2%;
  	left: 13%;
  	transform: scaleX(-1) translate(-50%, -50%);
  	transition: 0.1s linear;
}

.sidebar{
	width: 0%;
	height: 100%;
	overflow: hidden;
  	transition: 0.1s linear;
}
.open-sidebar {
	width: 15%;
	height: 100%;
	transition: 0.2s linear;
}


.grid-container {
	height: 100%;
	display: block;
}
.navbar {
	width: 100%;
}

.Nestor-icon {
	width: 20%;
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	transition: 0.1s linear;
}

.open-Nestor-icon {
	width: 20%;
	position: absolute;
  	top: 40%;
  	left: 65%;
  	transform: translate(-50%, -50%);
  	transition: 0.1s linear;
}

.TopLogo{
	width: 100%
}
.Plugins {
	margin-top: 2%;
	width: 100%;
	height: 5%;
	background-color: gray;
}
.Settings {
	width: 100%;
	height: 5%;
	background-color: gray;
}